# Download nearby venues data from foursquare API for Ranchi villages, using a csv which contains village latitude and longitude

In [2]:
import pandas as pd
import requests

In [3]:
df = pd.read_csv('ranchi_villages.csv')

In [4]:
df.head()

   Unnamed: 0   Village   Block District   Latitude  Longitude
0           0  Agartoli  Angara   Ranchi  23.376190  85.439278
1           1    Angara  Angara   Ranchi  23.376190  85.439278
2           2      Asri  Angara   Ranchi  23.357210  85.666901
3           3     Badri  Angara   Ranchi  23.432671  85.633270
4           4    Baheya  Angara   Ranchi  23.370399  85.487930

In [5]:
df.dropna(inplace=True)
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1903 entries, 0 to 1903
Data columns (total 5 columns):
Village      1903 non-null object
Block        1903 non-null object
District     1903 non-null object
Latitude     1903 non-null float64
Longitude    1903 non-null float64
dtypes: float64(2), object(3)
memory usage: 89.2+ KB

In [6]:
df.head()

    Village   Block District   Latitude  Longitude
0  Agartoli  Angara   Ranchi  23.376190  85.439278
1    Angara  Angara   Ranchi  23.376190  85.439278
2      Asri  Angara   Ranchi  23.357210  85.666901
3     Badri  Angara   Ranchi  23.432671  85.633270
4    Baheya  Angara   Ranchi  23.370399  85.487930

## Define a function to get nearbyplaces based on latitude and longitude

In [7]:
# intialize a function to get all the venue in the neighbourhood
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
                    
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Village', 
                  'Village Latitude', 
                  'Village Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

### Since the API only allows 950 calls per day, and there are 1903 entries. The call will be done in three parts with three slices of data frame with three different API keys

In [8]:
# Client Key : Client Secret
FOURSQUARE_KEYS = {'0ANT5D4J32NF4ZRXBNJGOUE1GHSYM01E34BALDNLVJVAMZIG' : 'SXIAJWKCXVAZ32UJYYSD4DOTHIOJRUPHXIUJFEBSJHRMJ454'
                  ,'JFIPVNQGSM3DJVNB4KPAFDWCS2AN5MLT0CUXMBDEEZ3TFTN1' : 'O5MIDR0SDHPOMB4VRJRVJY2TV0YHYIYRKUUANCQKKN3UYOF4'
                  ,'ONXQAZDGDXM0J2NWDIO15QUNYVAYXIP2GEAKGFDMOY01BPZ5' : '15QX0C5ZDA2WTU0QRKARHH4SUTMRMAJFISIZAWSPOE4I0ITX'
                  ,'0XBHK2D0ZYU2SGO2GFJHEEPBLBOI2N5HY33TFTHK5VYM1VPP' : 'WOWHI5MO1M2FH2V3JTAHSAZRH4TE4YKA3HDOT5BUNHXFHL4U'
                  ,'KS1TFYVJUHPCPMZOCWEYNLSAJNU5JH5WXHXW3PXPGCI2GLGI' : 'AOW13VCPF2STWG0EV12QCIXZL0FPPRFZOAAGPHYRHZU0VL0U'}

In [23]:
# iterate thorugh keys and get the data in chunks for all villages in dataframe
i = 0
j = 381
venues = []
for key,secret in FOURSQUARE_KEYS.items():
    # initializing foursquare API credentials
    CLIENT_ID = key # your Foursquare ID
    CLIENT_SECRET = secret # your Foursquare Secret
    VERSION = '20180605' # Foursquare API version
    LIMIT = 100
    
    # slice data into smaller parts such that API call is limited to 950 call per day
    data = df[i:j]
    # function takes a lot of time
    ranchi_venue = getNearbyVenues(names=data['Village'],
                                   latitudes=data['Latitude'],
                                   longitudes=data['Longitude']
                                  )
    venues.append(ranchi_venue)
    
    # set correct slicing parameter
    i += 381
    if j != None:
        j += 381
        if j > 1903:
            j = None

[0, 0, 0, 0, 0]

### After getting data in different dataframes the data frames will be appended.

In [ ]:
ranchi_venues = pd.concat([venues], ignore_index= True)

In [ ]:
ranchi_venues.info()

In [ ]:
ranchi_venues.head()

## Saving the data for future usage

In [ ]:
ranchi_venues.to_csv('ranchi_venues.csv')